<div id="<%= dom_id invoice %>">
  <%= link_to invoice.id, invoice_path(invoice) %>
  <p>
    <strong>pdf_document:</strong>
    <% if invoice.pdf_document.attached? %>
      <%= invoice.pdf_document.blob.filename %>
      <%= invoice.pdf_document.blob.content_type %>
      <%= invoice.pdf_document.blob.byte_size %>
    <% else %>
      No pdf document attached
    <% end %>
  </p>
  <p>
    <strong>Xml format:</strong>
    <% if invoice.xml_document.present? %>
      ✅
      <%#= invoice.xml_document %>
      <%#= invoice.parsed_xml %>
      <b>IBAN</b>
      <%= invoice.iban %>
      <b>Account Name</b>
      <%= invoice.account_name %>
    <% else %>
      ❌
    <% end %>
  </p>

</div>
