<div id="<%= dom_id invoice %>" style="border: 1px solid #ccc; padding: 10px; margin: 10px 0;">
  <%= link_to invoice.id, invoice_path(invoice) %>
  <p>
    <strong>File attached:</strong>
    <% if invoice.pdf_document.attached? %>
      <%= link_to rails_blob_path(invoice.pdf_document, disposition: "inline") do %>
        <% if invoice.pdf_document.representable? %>
          <%= image_tag invoice.pdf_document.representation(resize_to_limit: [200, 200]) %>
        <% end %>
        <br>
        <%= invoice.pdf_document.blob.filename %>
        <%= number_to_human_size invoice.pdf_document.blob.byte_size %>
      <% end %>
    <% else %>
      No attachments
    <% end %>
  </p>

  <p>
    <strong>Valid FacturX:</strong>
    <%= boolean_label(invoice.xml_valid) %>
  </p>

  <p>
    <strong>Invoice attributes:</strong>
    <% if invoice.xml_document.present? %>
      <br>
      invoice_number:
      <%= invoice.invoice_number %>
      <br>
      invoice_date:
      <%= invoice.invoice_date %>
      <br>
      due_payable_amount:
      <%= invoice.due_payable_amount %>
      <br>
      invoice_currency_code:
      <%= invoice.invoice_currency_code %>
      <br>
      sender:
      <%= invoice.sender %>
      <br>
      recipient:
      <%= invoice.recipient %>
    <% end %>
  </p>

  <%= button_to 'Delete', invoice, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
</div>
